<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button type="button" onclick="closeConnection()" >关闭连接</button>
<div id="msg_from_server"></div>
</body>


<script type="text/javascript">
    if (typeof(EventSource)!=="undefined") {
        var source = new EventSource('pushImprove'); //为http://localhost:8080/testSpringMVC/push
        s = '';
        source.addEventListener('message', function (e) {

            s += e.data + "<br/>"
            document.getElementById("msg_from_server").innerHTML = s;
        });

        source.addEventListener('open', function (e) {
           s +="连接打开"+ "<br/>";
        }, false);

        source.addEventListener('error', function (e) {
           s +="连接关闭"+ "<br/>";
            if (e.readyState == EventSource.CLOSED) {
                s +="连接关闭";
            }
        }, false);
    } else {
        console.log("没有sse");
    }


    function closeConnection(){
        source.close();
        document.getElementById("msg_from_server").innerHTML = "关闭了连接";

    }
</script>
</html>